{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% block nav %}
{% endblock %}
    <div class="container-fluid h-100">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <form class="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log  In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                    <small class="text-muted ml-2">
                        <a href="{% url 'index' %}">Forgot Password?</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}