{% extends 'base.html' %}
{% block body %}
	<div class="container-fluid h-100">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<form method="POST">{% csrf_token %}
				<div class="d-flex">
					<label for="status">ssh: </label><br>
					<input class="mt-1" type="checkbox" id="status" name="status">
				</div>
				
				{% if not isActive%}
					<script>document.getElementById("status").checked = true;</script>
				{% endif %}

				<div class="d-flex">
					<label class="mt-2"for="port">Port:  </label><br>
					<input type="textbox" id="port" name="port" value={{ Port }}>
				</div>
			</form>
		</div>
	</div>
{% endblock body %}