{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- ######################## BOOTSTRAP CSS ######################## -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
<!-- ######################## BOOTSTRAP CSS ######################## -->
<link rel="stylesheet" type="text/css" href="{% static 'css/div.css' %}">
<title>Page Title</title>
</head>
<body>


<div class="wrapper">
qaz
<div class="v d1">
    div1
</div>

<div class="v d2">
    div2
</div>

<div class="v d3">
    div3
</div>

<div class="v d4">
        div4
</div>

</div>

<!-- ######################## BOOTSTRAP SCRIPTS ######################## -->
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<!-- ######################## BOOTSTRAP SCRIPTS ######################## -->
</body>
</html>